/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f0f3f5;
}

body._lock {
    overflow: hidden;
}

.f-family {
    font-family: "Crimson Pro", serif;
}


/* /--------------------------------------------------------------- */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

@media (max-width: 425px) {
    .container {
        max-width: 425px;
        padding: 0 10px;
        margin: 0 auto;
    }
}

.ibg {
    position: relative;
}

.ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.page {
    flex: 1 1 auto;
}


/* ==================================================================================== */


/* main-block-------------------------------------------------------------------------- */

.main-block {
    position: relative;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 650px) {
    .main-block__image {
        opacity: 0.5;
    }
}

.main-block__body {
    padding: 153px 0px 272px 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

@media (max-width: 715px) {
    .main-block__body {
        display: block;
        text-align: center;
    }
}

.main-block__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 137.5%;
    color: #112734;
}

.main-block__title span {
    color: #375b26;
}

@media (max-width: 715px) {
    .main-block__title {
        font-size: 50px;
    }
}

@media (max-width: 320px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__subtitle {
    padding-bottom: 22px;
    font-weight: 400;
    font-size: 36px;
    line-height: 138%;
    color: rgba(17, 39, 52, 0.7);
}

@media (max-width: 870px) {
    .main-block__subtitle {
        font-size: 26px;
    }
}

.main-block__text {
    font-weight: 400;
    padding-left: 15px;
    font-size: 18px;
    line-height: 136%;
    color: rgba(17, 39, 52, 0.7);
    border-left: 2px solid #f1d44b;
    display: block;
}

@media (max-width: 769px) {
    .main-block__text {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .main-block__text {
        border: none;
    }
}

.main-block__button {
    margin-top: 48px;
}

.main-block__btn {
    padding: 18px 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 136%;
    border-radius: 5px;
    background-color: #d3b10f;
    color: #ffffff;
    transition: all 0.3s ease 0s;
}

.main-block__btn:hover {
    background: #ab9009;
    transition: all 0.3s ease 0s;
}

@media (max-width: 769px) {
    .main-block__btn {
        font-size: 16px;
        padding: 12px 40px;
    }
}

.main-block__right {
    display: flex;
}

@media (max-width: 650px) {
    .main-block__right {
        display: flex;
        justify-content: center;
    }
}

.content-left {
    margin-top: 78px;
}

@media (max-width: 995px) {
    .content-left {
        margin-top: 86px;
    }
}

@media (max-width: 769px) {
    .content-left {
        margin-top: 83px;
    }
}

.content-left__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 135%;
    margin-right: 10px;
    color: rgba(55, 91, 38, 0.41);
}

@media (max-width: 995px) {
    .content-left__title {
        font-size: 38px;
    }
}

@media (max-width: 870px) {
    .content-left__title {
        font-size: 32px;
    }
}

.circle {
    position: relative;
    margin-top: 27px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: rgba(241, 212, 75, 0.4);
}

@media (max-width: 995px) {
    .circle {
        width: 130px;
        height: 130px;
        margin-top: 48px;
    }
}

@media (max-width: 870px) {
    .circle {
        width: 100px;
        height: 100px;
        margin-top: 57px;
    }
}

.content-right__top {
    position: absolute;
    left: 15%;
    top: 25%;
    font-weight: 700;
    font-size: 72px;
    color: #ffffff;
}

.content-right__top span {
    position: absolute;
    left: 20px;
    top: 90%;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
}

@media (max-width: 995px) {
    .content-right__top {
        font-size: 52px;
    }
    .content-right__top span {
        font-size: 20px;
        left: 16px;
    }
}

@media (max-width: 870px) {
    .content-right__top {
        font-size: 42px;
    }
    .content-right__top span {
        font-size: 15px;
        left: 16px;
    }
}


/* ==================================================================================== */


/* page-benefits----------------------------------------------------------------------- */

.page__benefits {
    position: relative;
}

.benefit__title {
    margin: 57px 0px 60px 0px;
    font-weight: 400;
    font-size: 64px;
    line-height: 137.5%;
    text-align: center;
    color: #112734;
}

@media (max-width: 768px) {
    .benefit__title {
        margin: 60px 0px 37px 0px;
        font-size: 50px;
    }
}

@media (max-width: 464px) {
    .benefit__title {
        font-size: 41px;
    }
}

@media (max-width: 375px) {
    .benefit__title {
        font-size: 36px;
    }
}

@media (max-width: 320px) {
    .benefit__title {
        font-size: 30px;
    }
}

.benefit__title span {
    color: #375b26;
}

.benefit__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

@media (max-width: 1024px) {
    .benefit__body {
        justify-content: center;
    }
}

.benefit__column {
    padding: 0px 15px 77px 15px;
    flex: 0 1 33.333%;
}

@media (max-width: 768px) {
    .benefit__column {
        padding: 0px 15px 27px 15px;
        flex: 0 0 50%;
    }
}

@media (max-width: 425px) {
    .benefit__column {
        flex: 0 0 100%;
    }
}

.benefit__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
}

.benefit__image img {
    width: 338px;
    height: 307px;
}

@media (max-width: 1110px) {
    .benefit__image img {
        width: 288px;
        height: 257px;
    }
}

@media (max-width: 1000px) {
    .benefit__image img {
        width: 338px;
        height: 307px;
    }
}

@media (max-width: 320px) {
    .benefit__image img {
        width: 288px;
        height: 257px;
    }
}

.benifit__subtitle {
    font-weight: 400;
    font-size: 36px;
    line-height: 138.8%;
    text-align: center;
    color: #b6990f;
}

@media (max-width: 375px) {
    .benifit__subtitle {
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .benifit__subtitle {
        font-size: 26px;
    }
}

.benefit__text {
    padding: 10px 0px 30px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 138.8%;
    text-align: center;
    color: rgba(17, 39, 52, 0.7);
}

@media (max-width: 1024px) {
    .benefit__text {
        padding: 0px 10px 30px 10px;
    }
}

@media (max-width: 320px) {
    .benefit__text {
        padding: 10px 10px 30px 10px;
    }
}


/* ========================================================================================= */


/* page__hatha-yoga------------------------------------------------------------------------- */

.page__hatha-yoga {
    position: relative;
}

.hatha-yoga__header {
    margin: 26px 0px 90px 0px;
    text-align: center;
}

@media (max-width: 768px) {
    .hatha-yoga__header {
        margin: 56px 0px 40px 0px;
    }
}

.header__title,
.header__subtitle {
    font-weight: 400;
    font-size: 64px;
    line-height: 106%;
    text-align: center;
    color: #112734;
}

.header__subtitle {
    color: #375b26;
}

@media (max-width: 768px) {
    .header__title,
    .header__subtitle {
        font-size: 50px;
    }
}

@media (max-width: 425px) {
    .header__title,
    .header__subtitle {
        font-size: 41px;
    }
}

@media (max-width: 375px) {
    .header__title,
    .header__subtitle {
        font-size: 36px;
    }
}

@media (max-width: 320px) {
    .header__title,
    .header__subtitle {
        font-size: 30px;
    }
}

.hatha-yoga__body {
    display: flex;
    width: 100%;
    height: 100%;
}

@media (max-width: 1015px) {
    .hatha-yoga__body {
        flex-direction: column;
    }
}

.hatha-yoga__images {
    margin: 0px 128px 66px 0px;
    position: relative;
}

@media (max-width: 1024px) {
    .hatha-yoga__images {
        display: flex;
        justify-content: center;
        margin: 0px 45px 66px 0px;
    }
}

@media (max-width: 1015px) {
    .hatha-yoga__images {
        margin: 0px;
    }
}

@media (max-width: 1015px) {
    .hatha-yoga__images img {
        flex: 0 0 100%;
        margin-bottom: 46px;
    }
}

@media (max-width: 425px) {
    .hatha-yoga__images img {
        width: 340px;
    }
}

@media (max-width: 320px) {
    .hatha-yoga__images img {
        width: 290px;
    }
}

.hatha-yoga__circle {
    width: 150px;
    height: 150px;
    background: rgba(241, 212, 75, 0.3);
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: -15px;
}

@media (max-width: 1180px) {
    .hatha-yoga__circle {
        width: 110px;
        height: 110px;
    }
}

@media (max-width: 768px) {
    .hatha-yoga__circle {
        right: 10px;
    }
}

@media (max-width: 765px) {
    .hatha-yoga__circle {
        display: none;
    }
}

.hatha-yoga__content {
    max-width: 560px;
}

@media (max-width: 1015px) {
    .hatha-yoga__content {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.content__text {
    padding: 0px 0px 16px 0px;
    width: 95%;
    font-weight: 400;
    font-size: 18px;
    line-height: 138.8%;
    letter-spacing: 0.08em;
    color: rgba(17, 39, 52, 0.7);
}

iframe {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}

@media (max-width: 1086px) {
    iframe {
        width: 100%;
        height: 318px;
        margin: auto;
    }
}

@media (max-width: 425px) {
    .content__video iframe {
        height: 225px;
    }
}

@media (max-width: 375px) {
    .content__video iframe {
        height: 200px;
    }
}

@media (max-width: 320px) {
    .content__video iframe {
        height: 190px;
    }
}

.content__footer {
    background: #ffffff;
    border-radius: 0px 0px 15px 15px;
}

@media (max-width: 1086px) {
    .content__footer {
        width: 100%;
    }
}

.content__footer__container {
    max-width: 525px;
    margin: 0 auto;
}

@media (max-width: 1180px) {
    .content__footer__container {
        max-width: 96%;
    }
}

.footer__level {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.level-left {
    display: flex;
    align-items: center;
}

.level-left img {
    padding: 10px 9px 10px 0px;
}

.level-left__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 138.8%;
    color: #112734;
}

@media (max-width: 425px) {
    .level-left__title {
        font-size: 22px;
    }
}

.level-right {
    font-weight: 700;
    font-size: 18px;
    line-height: 138.8%;
    color: rgba(17, 39, 52, 0.7);
}

@media (max-width: 425px) {
    .level-right {
        font-size: 14px;
    }
}

.level__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 138.8%;
    color: rgba(17, 39, 52, 0.7);
}

@media (max-width: 425px) {
    .level-text {
        font-size: 14px;
    }
}

.footer__time {
    display: flex;
    justify-content: space-between;
}

.time-left {
    display: flex;
    align-items: center;
}

.time-left img {
    padding: 19px 9px 11px 0px;
}

.time-left__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 138.8%;
    color: rgba(17, 39, 52, 0.7);
}

@media (max-width: 425px) {
    .time-left__text {
        font-size: 14px;
    }
}

.time-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-right__text {
    margin-left: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 138.8%;
    color: rgba(17, 39, 52, 0.7);
}

@media (max-width: 425px) {
    .time-right__text {
        font-size: 14px;
    }
}


/* ==================================================================================== */


/*page-challenge ---------------------------------------------------------------------- */

.page__challenge {
    position: relative;
}

.challenge__header {
    margin: 34px 0px 25px 0px;
    padding: 0px;
}

@media (max-width: 768px) {
    .challenge__header {
        margin: 75px 0px 10px 0px;
    }
}

.challenge__title {
    position: relative;
    padding-left: 20px;
    font-weight: 400;
    font-size: 64px;
    line-height: 137.5%;
    color: #112734;
}

.challenge__title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    width: 3px;
    height: 90px;
    background: #f1d44b;
}

@media (max-width: 768px) {
    .challenge__title::before {
        top: 10px;
    }
}

@media (max-width: 320px) {
    .challenge__title::before {
        top: 3px;
    }
}

.challenge__title span {
    color: #375b26;
}

@media (max-width: 768px) {
    .challenge__title {
        font-size: 50px;
    }
}

@media (max-width: 425px) {
    .challenge__title {
        font-size: 41px;
    }
}

@media (max-width: 375px) {
    .challenge__title {
        font-size: 36px;
    }
}

@media (max-width: 320px) {
    .challenge__title {
        font-size: 30px;
    }
}

.challebge__subtitle {
    padding: 0px 0px 57px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 138.8%;
    color: rgba(17, 39, 52, 0.7);
}

@media (max-width: 1015px) {
    .challebge__subtitle {
        padding-bottom: 33px;
    }
}

@media (max-width: 375px) {
    .challebge__subtitle {
        font-size: 16px;
    }
}

.challeng__body {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .challeng__body {
        display: block;
    }
}

.challenge__body-left {
    position: relative;
}

@media (max-width: 1024px) {
    .challenge__body-left img {
        width: 100%;
        margin-bottom: 20px;
    }
}

.challenge__arrow {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 425px) {
    .challenge__arrow img {
        width: 100px;
    }
}

@media (max-width: 1024px) {
    .challenge__body-right img {
        width: 100%;
    }
}

.challehg__scale {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 54px;
}

.scale__number-left,
.scale__number-right {
    font-weight: 700;
    font-size: 18px;
    line-height: 138.8%;
    color: rgba(17, 39, 52, 0.7);
}

.scale__number-left {
    padding-right: 7px;
}

.scale__number-right {
    padding-left: 7px;
}

.scale__yellow {
    width: 125px;
    height: 8px;
    background: #f1d44b;
    border-radius: 5px 0px 0px 5px;
}

.scale__grey {
    width: 270px;
    height: 8px;
    background: rgba(17, 39, 52, 0.3);
    border-radius: 0px 5px 5px 0px;
}


/* =============================================================================== */


/* page-courses----------------------------------------------------------------- */

.courses__header {
    margin-top: 16px;
}

.courses__title {
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    line-height: 129.6%;
    color: #112734;
}

@media (max-width: 768px) {
    .courses__title {
        font-size: 50px;
    }
}

@media (max-width: 425px) {
    .courses__title {
        font-size: 41px;
    }
}

@media (max-width: 375px) {
    .courses__title {
        font-size: 36px;
    }
}

@media (max-width: 320px) {
    .courses__title {
        font-size: 30px;
    }
}

.courses__subtitle {
    margin-bottom: 60px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 138.8%;
    color: rgba(17, 39, 52, 0.7);
}

@media (max-width: 768px) {
    .courses__subtitle {
        margin-bottom: 40px;
    }
}

@media (max-width: 375px) {
    .courses__subtitle {
        font-size: 16px;
    }
}

.courses__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

@media (max-width: 784px) {
    .courses__body {
        justify-content: center;
    }
}

.courses__column {
    flex: 0 1 33.333%;
    padding: 0 15px;
    margin-bottom: 78px;
    position: relative;
}

@media (max-width: 784px) {
    .courses__column {
        flex: 0 1 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 475px) {
    .courses__column {
        flex: 0 0 100%;
    }
}

.courses__item {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
}

.column__container {
    max-width: 360px;
    padding: 0px 13px;
    margin: 0 auto;
}

@media (max-width: 475px) {
    .column__container {
        padding: 0 2px;
    }
}

.column__content {
    flex: 1 1 auto;
}

.courses__item-left {
    background: url("../image/courses/img_left.png") no-repeat;
    background-size: cover;
    width: 100%;
}

.courses__item-center {
    background: url("../image/courses/img_center.png") no-repeat;
    background-size: cover;
    width: 100%;
}

.courses__item-right {
    background: url("../image/courses/img_right.png") no-repeat;
    background-size: cover;
    width: 100%;
}

.arrow-left img {
    position: absolute;
    top: 45%;
}

.arrow-right img {
    position: absolute;
    top: 45%;
    right: 30px;
}

.courses__item__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 114.16%;
    text-align: center;
    color: #ffffff;
    padding: 156px 0px 104px 0px;
}

.courses__item__footer {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.footer__left,
.footer__right {
    display: flex;
    align-items: center;
}

.left__text,
.right__text {
    padding-left: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 138.8%;
    color: #ffffff;
}

@media (max-width: 320px) {
    .left__text,
    .right__text {
        font-size: 16px;
    }
}


/* =============================================================================== */


/* page-practice------------------------------------------------------------------ */

.page__practice {
    position: relative;
}

.practice__title {
    padding: 22px 0px 5px 0px;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    text-align: center;
    color: #112734;
}

.practice__title span {
    color: #375b26;
}

@media (max-width: 768px) {
    .practice__title {
        font-size: 50px;
        padding: 45px 0px 0px 0px;
    }
}

@media (max-width: 425px) {
    .practice__title {
        font-size: 41px;
    }
}

@media (max-width: 375px) {
    .practice__title {
        font-size: 36px;
    }
}

@media (max-width: 320px) {
    .practice__title {
        font-size: 30px;
    }
}

.practice__subtitle {
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(17, 39, 52, 0.7);
}

.practice__subtitle span {
    display: block;
    text-align: center;
}

@media (max-width: 768px) {
    .practice__subtitle {
        padding-bottom: 40px;
    }
}

@media (max-width: 375px) {
    .practice__subtitle {
        font-size: 16px;
    }
}

.practice__body {
    padding-bottom: 60px;
}


/* @media (max-width: 320px) {
    .practice__content__arrow-left img {
        width: 35px;
    }
}

@media (max-width: 320px) {
    .practice__content__arrow-right img {
        width: 35px;
    }
} */

.practice__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1124px) {
    .content__foto img {
        width: 213px;
    }
}

@media (max-width: 1000px) {
    .content__foto img {
        width: 153px;
    }
}


/* @media (max-width: 425px) {
    .practice__content__foto img {
        width: 175px;
        margin: 0px;
    }
}

@media (max-width: 375px) {
    .practice__content__foto img {
        width: 150px;
    }
}

@media (max-width: 320px) {
    .practice__content__foto img {
        width: 120px;
        margin-bottom: 10px;
    }
} */

.practice__content__foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.practice__content__foto:not(:first-child) img {
    padding: 0px 5px 5px 0px;
}


/* ============================================================================ */


/* page-empowerment------------------------------------------------------------ */

@media (max-width: 1024px) {
    .empowerment__container {
        width: 100%;
        padding: 0;
    }
}

.empowerment__body {
    display: flex;
    align-items: center;
    margin: 68px 0px 60px 0px;
}

@media (max-width: 1024px) {
    .empowerment__body {
        display: block;
        margin-bottom: 0px;
    }
}

@media (max-width: 768px) {
    .empowerment__body {
        margin-top: 20px;
    }
}

@media (max-width: 1024px) {
    .empowerment__block-left {
        text-align: center;
    }
}

.block-left__title {
    margin-right: 25px;
    font-weight: 400;
    font-size: 64px;
    line-height: 114%;
    color: #375b26;
}

.block-left__title span {
    white-space: nowrap;
    display: block;
    letter-spacing: -0.015em;
    color: #000000;
}

@media (max-width: 1024px) {
    .block-left__title {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .block-left__title {
        font-size: 50px;
    }
}

@media (max-width: 425px) {
    .block-left__title {
        font-size: 41px;
    }
}

@media (max-width: 375px) {
    .block-left__title {
        font-size: 36px;
    }
}

@media (max-width: 320px) {
    .block-left__title {
        font-size: 30px;
    }
}

.block-left__text {
    position: relative;
    display: inline-block;
    padding: 32px 0px 48px 36px;
    font-weight: 400;
    font-size: 18px;
    line-height: 138.8%;
    color: rgba(17, 39, 52, 0.7);
}

@media (max-width: 1024px) {
    .block-left__text {
        padding: 10px 0px 48px 0px;
    }
}

@media (max-width: 425px) {
    .block-left__text {
        padding: 10px 0px 28px 0px;
    }
}

@media (max-width: 375px) {
    .block-left__text {
        font-size: 16px;
    }
}

.block-left__text::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 28px;
    width: 3px;
    height: 60px;
    background: #f1d44b;
}

@media (max-width: 1024px) {
    .block-left__text::before {
        height: 50px;
        left: -18px;
        top: 12px;
    }
}

@media (max-width: 425px) {
    .block-left__text::before {
        display: none;
    }
}

.block-left__btn {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
    padding: 18px 74px 17px 60px;
    background: #d3b10f;
    border-radius: 5px;
}

.block-left__btn:hover {
    background: #ab9009;
    transition: all 0.3s ease 0s;
}

@media (max-width: 1024px) {
    .block-left__button {
        margin-bottom: 70px;
    }
}

@media (max-width: 425px) {
    .block-left__button {
        margin-bottom: 40px;
    }
}

@media (max-width: 425px) {
    .block-left__btn {
        padding: 12px 39px;
        font-size: 18px;
    }
}

.block-right__image {
    position: relative;
}

@media (max-width: 1024px) {
    .block-right__image img {
        width: 100%;
    }
}

.block-right__circle {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    position: absolute;
    left: -60px;
    top: -30px;
    background: rgba(241, 212, 75, 0.5);
}

@media (max-width: 1024px) {
    .block-right__circle {
        width: 150px;
        height: 150px;
        left: 0;
        top: -50px;
    }
}

@media (max-width: 768px) {
    .block-right__circle {
        width: 120px;
        height: 120px;
        top: -50px;
    }
}

@media (max-width: 425px) {
    .block-right__circle {
        display: none;
    }
}


/* =========================================================================== */